@charset "utf-8";
/* CSS Document */
html,body,ul,li,dl,dd,dt,ol,p,h1,h2,h3,h4,h5,h6,from,img,legend,fieldset，input,textarea,select,figure{
	margin:0;padding:0;
}
li{
	list-style:none;
}
body{
	font-size:0.12rem;
	font-family:Georgia, "Times New Roman", Times, serif "宋体";
}
img,input{
	border:none;
    vertical-align:middle;
}
a{
	text-decoration:none;
 color:#000;
 }
h1,h2,h3,h4,h5,h6{
	font-family:normal;
}
i em{
	font-style: normal;
}
input{
	outline:none ;
}
.clearfix:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{
	zoom:1;
}















